---
layout: home
---
<div class="user-details">
<h2> 我和这个网站 </h2>
<p style="text-align: justify;"> 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;石家庄铁道大学大三本科生，计算机科学与技术专业，你可以在 
	<a href="https://github.com/chenshunpeng/chenshunpeng.github.io">here</a>
	看到我这个网站的源码（当然，这个网站架构借鉴自一个博士生），我希望通过这个网站分享我的学习生活，
	欢迎你提出任何建议，亦或是发表评论。
</p>
<img src="https://pic.downk.cc/item/5ff71c7b3ffa7d37b3761a68.jpg" width="300" height="300">
<!-- <div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clustrmap.html style="js" %}
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div> -->
</div>
<div class="permlinks">
<h2>最新文章</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Upcoming Posts (edit me at /index.html )</h2>
<ul>
	<li>深度学习</li>
	<li>计算机视觉</li>
	<li>待定...</li>
</ul>

</div >
